*{
    box-sizing:border-box;
}

.header{
    height:70px;
    background-color: #C0C0C0;   
}

.header .title{
    display:inline-block;
    font-size:16px;
}

.header .username{
    font-size:16px;
    //padding-top:10px;
    //padding-left:10px;
    padding-right:10px;
    display:inline-block;
}

#headerLine{
    border-bottom:black 1px solid;
}

/**************************************************Nav Bar **************/

.orderCreation{
    margin-top:4px;
    background-color:black;
    width:90px;
    height:25px;
    color:white;
}

.icons{
    padding-right:5px;
    margin-top:4px;
    width:30px;
    height:25px;
}