.header{
    height:70px;
    background-color: #C0C0C0;   
}

.header .title{
    display:inline-block;
    font-size:16px;
    padding:10px;
}

.header .username{
    font-size:16px;
    padding:10px;
    display:inline-block;
}